{% extends "BWMainBundle:Layout/Backend:layout.html.twig" %}

{% block title %}Добавление нового пользователя {{ parent() }}{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-plus"></i> Добавление пользователя</h1>
        </div>
    </div>
    {% include 'BWUserBundle:Admin/User:user.html.twig' %}
{% endblock %}