{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование языка {{ parent() }}{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-edit"></i> Редактирование языка</h1>
        </div>
    </div>
    {% include 'BWLocalizationBundle:Admin/Lang:lang.html.twig' %}
{% endblock %}