<!doctype html>
<html lang="{% block lang %}en{% endblock %}">
    <head>
        <meta charset="{% block charset %}UTF-8{% endblock %}">
        
        <title>{% block title %}% Base Template %{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}"/>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% block css %}
            <!-- % CSS % -->
        {% endblock %}
            
        {% block js %}
            <!-- % JS % -->
        {% endblock %}
    </head>
    <body id="body">
        {% block body %}
            <div id="wrap">
                <header>
                    {% block header %}
                        % Header %
                    {% endblock %}
                </header>
                    
                <div id="content">
                    {% block pre_content %}
                        % Pre Content Block %
                    {% endblock %}
                        
                    {% block content %}
                        % Content Block %
                    {% endblock %}
                    
                    {% block post_content %}
                        % Post Content Block %
                    {% endblock %}
                </div><!-- div#main -->
                    
                <footer>
                    {% block footer %}
                        % Footer %
                    {% endblock %}
                </footer>
            </div>
            
            <div id="overflow">
                {% block overflow %}
                    % Over Flow Block %
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>