/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar

# bow
*~
/nbproject/
/.idea/
/web/cache/
/web/uploads/
/app/config/parameters_local.yml
/app/config/parameters_server.yml
