<h3>Последние статьи</h3>
<ul>
{% for post in posts %}
    <li>
        {#<a href="{{ path('bw_router_index', {'q': post.route.query}) }}">{{ post.heading }}</a>#}
        <a href="{{ app.request.uriForPath(post.route.path) }}">{{ post.heading }}</a>
    </li>
{% endfor %}
</ul>