{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование контакта {{ parent() }}{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}
    
{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-edit"></i> Редактирование контакта</h1>
        </div>
    </div>
    {% include 'BWBlogBundle:Admin/Contact:contact.html.twig' %}
{% endblock %}