<h2>How to use blocks in BoW</h2>
<h3>In BWBlockBundle:Html:example.html.twig</h3>
<p>
    There are few examples for simply use any blocks in templates:<br>
</p>
<h3>Custom HTML block</h3>
<pre style="font-size: 16px;">&#123;&#123; bw.block.html("example.html.twig")|raw &#125;&#125;</pre>
<blockquote>where "example.html.twig" is path to template in "BWBlockBundle:Html" View.</blockquote>
<h3>Menu block</h3>
<pre style="font-size: 16px;">&#123;&#123; bw.block.menu("main_menu")|raw &#125;&#125;</pre>
<blockquote>where "main_menu" is alias of menu.</blockquote>
<h3>Authorization block</h3>
<pre style="font-size: 16px;">&#123;&#123; bw.block.signInForm()|raw &#125;&#125;</pre>
<h3>Lang block</h3>
<pre style="font-size: 16px;">&#123;&#123; bw.block.langs()|raw &#125;&#125;</pre>