<h3>Simple HTML block</h3>
<h4>BWBlockBundle:Html:lorem-ipsum.html.twig</h4>
<p>
    <strong>Lorem Ipsum</strong> is simply dummy text of the printing and 
    typesetting <em>industry</em>. <a href="http://www.lipsum.com/" target="_blank">Lorem Ipsum</a> has been the industry's 
    standard dummy text ever since the 1500s.
</p>