<div>
    <h3>Баннер</h3>
    <a href="#any-link">
        <img src="{{ asset('images/logo.png') }}" alt="Banner" title="Banner" width="100px">
    </a>
    <p>Description with <em>any</em> <strong>HTML</strong> tags.</p>
</div>