{% extends 'BWSkeletonBundle:Frontend:layout.html.twig' %}

{% block title %}Список всех товаров {{ parent() }}{% endblock %}

{% block content -%}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ service('bw_blog.widget').lastPosts()|raw }}
            </div>
            <div class="col-lg-9">
                <h1><i class="icon-list"></i> Все товары</h1>
                <div class="products">
                    {% for entity in entities %}
                        {% include 'BWShopBundle:Product:row.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
