{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Редактирование настраиваемого поля {{ parent() }}{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}
    
{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-edit"></i> Редактирование настраиваемого поля</h1>
        </div>
    </div>

    <div class="bw_container">
        <div class="bw_row">
            {% include 'BWBlogBundle:Admin/CustomField:custom-field.html.twig' %}
            {% include 'BWBlogBundle:Admin/CustomFieldProperty:custom-field-properties.html.twig' %}
        </div>
    </div>

{% endblock %}