{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Добавление новой группы слайдеров {{ parent() }}{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-plus"></i> Создание группы слайдеров</h1>
        </div>
    </div>
    {% include 'BWSliderBundle:Admin/Group:group.html.twig' %}
{% endblock %}