{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Конфигурация системы {{ parent() }}{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-wrench"></i> Конфигурация системы</h1>
        </div>
    </div>
{% endblock %}