{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Главная {{ parent() }}{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-desktop"></i> Панель управления сайтом</h1>
        </div>
    </div>
{% endblock %}