/* Alert */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #356635;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #2d6987;
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #a47e3c;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #953b39;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.modal-header .close {
  margin-top: -2px;
}
/* /Alert */

html{
	height: 100%;
}

body{
	font-family: Verdana;
/*	width: 1366px;
	min-width: 1000px;
	margin: 5px 0 0 0;
	padding: 0;*/
	height: 100%;
	margin: 0;
	padding: 0;
}

div{
	display: block;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	text-decoration: none;
	list-style: none;
	text-decoration: none;
}

a{
	text-decoration: none;
}

p{
	margin: 0;
	padding: 0;
}

#wrap{
	margin-top: 5px;
	height: auto;
	min-height: 100%;
}

.colum{
	float: left;
	display: block;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

header{
    padding-top: 5px;
}

#logo a{
    display: block;
	width: 120px;
	height: 100px;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
    text-indent: -9999px;
}

/* Auth Block */
#auth-form{
	float: right;
    min-height: 70px;
}

#auth-form input{
	width: 190px;
	height: 30px;
	padding: 0 0 0 5px;
	border: 1px inset;
	background-color: #128ed5;
	color: #81c3e9;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#auth-form button{
	width: 95px;
	height: 30px;
	padding: 0;
	background-color: #d14836;
	color: #ffeeee;
	border: 1px solid #d14836;
	font-size: 15px;
	font-weight: bold;
}

#auth-form button:hover{
	background-color: #c53727;
	border: 1px solid #b0281a;
}
/* /Registration Block */


/* Menu Block */
#bw_main_menu {
    float: left;
}
#bw_langs {
    float: right;
}
#main{
	margin: 15px 0;
}

#main p{
	font-size: 15px;
}

#main_menu ul {
    display: table;
}

#main_menu li{
	display: block;
	float: left;
	margin: 0 27px 0 0;
}

#main_menu li a{
	display: block;
	color: #000;
	font-size: 18px;
	padding-bottom: 10px;
}

#main_menu li > a:hover{
	color: #128ed5;
}

#main_menu li:hover ul{
	display: block;
}

#main_menu ul li ul{
	display: none;
	width: 185px;
	position: absolute;
	margin-left: -47px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 101;
}

#main_menu ul li ul li{
	float: none;
	/*line-height: 30px;*/
	margin: 0;
}

#main_menu ul li ul li a{
	padding: 13px 23px;
	margin: 0;
	font-size: 15px;
}

#main_menu ul li ul li a:hover{
	color: #fff;
	font-size: 18px;
	background-color: #128ed5;
	padding: 11px 10px 11px 33px;
}
/* /Menu Block */

footer{
	background-color: #128ed5;
	margin: 0 auto;
	height: 100px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.copyright{
	line-height: 30px;
	font-size: 12px;
	color: #fff;
}

.line{
	padding-top: 70px;
	border-bottom: 1px solid #89c7ea;
}