DELETE
{#
<div>
    {{ form_label(form.article, ' ', {'label_attr': {'class': ''} }) }}
    <blockquote>
        <div>
            Выберите статью, которую будет открывать ссылка.
        </div>
    </blockquote>
    {{ form_widget(form.article, {'attr': {'class': 'form-control '} }) }}
    <div class="error">
        {{ form_errors(form.article) }}
    </div>
</div>
#}