{% extends 'BWMainBundle:Layout/Frontend:layout.html.twig' %}

{% block title %}Блог {% endblock %}

{% block description %}Блог статьей{% endblock %}

{% block content %}
    <h1>Блог</h1>
    {% if posts %}
        {% for post in posts %}
            <h2><a href="{{ path('post', {'slug': post.slug}) }}">{{ post.heading }}</a></h2>
            <small>{{ post.created.format('d/m/Y в H:i') }}</small>
            <div>{{ post.shortDescription|raw }}</div>
        {% endfor %}
    {% else %}
        Нет статей для отображения
    {% endif %}
{% endblock %}