{% extends 'BWSkeletonBundle:Backend:layout.html.twig' %}

{% block title %}Добавление нового пункта меню {{ parent() }}{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="bw_container">
        <div class="bw_row">
            <h1><i class="icon-plus"></i> Создание пункта меню</h1>
        </div>
    </div>
    
    {% include 'BWMenuBundle:Admin/Item:item.html.twig' %}
    
{% endblock %}