{% extends 'BWMainBundle:Layout/Backend:layout.html.twig' %}

{% block title %}Добавление нового пункта меню {{ parent() }}{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Создание пункта меню</h1>
    
    {% include 'BWMenuBundle:Admin/Item:item.html.twig' %}
    
{% endblock %}