<h2>Результаты поиска</h2>
<p>Всего найдено {{ results|length }} совпадений:</p>
{% if results %}
    {% for repository, entities in results %}
        {% if entities %}
            <h3>{{ repository }}</h3>
            {% for entity in entities %}
                <div>
                    <h4>
                        <a href="{{ path('bw_router_index', {'q': entity.route.query}) }}">
                            {{ entity.heading }}
                        </a>
                    </h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% else %}
    <div>Ничего не найдено</div>
{% endif %}
